<mat-card>
    <form (submit)="onAddPost(postForm)" #postForm="ngForm">
        <mat-form-field>
            <mat-label>Title</mat-label>
            <input type="text" matInput ngModel name="title" required #title="ngModel" minlength="3">
            <mat-error *ngIf="title.errors?.required">Title is required</mat-error>
            <mat-error *ngIf="title.errors?.minlength">Title has to be at least 3 characters</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Content</mat-label>
            <textarea matInput rows="6" ngModel name="content" required #content="ngModel" minlength="10"></textarea>
            <mat-error *ngIf="content.errors?.required">Title is required</mat-error>
            <mat-error *ngIf="content.errors?.minlength">Title has to be at least 10 characters</mat-error>
        </mat-form-field>
        <button mat-raised-button color="accent" type="submit">Save post</button>
    </form>
</mat-card>